extends layout

block content
    div(ng-view)
    script(type = "text/javascript", src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js")
    script(type = "text/javascript", src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.js")
    script(type = "text/javascript", src = "/socket.io/socket.io.js")
    script(type = "text/javascript", src = "/javascripts/qblo.js")
