doctype 5
html(ng-app='qblo')
    head
        title qblo
        meta(charset='utf8')
        base(href='/')
        link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(type='image/x-icon', rel='shortcut icon', href="/images/favicon.png")
    body
        block content
