doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type='image/x-icon', rel='shortcut icon', href="/images/favicon.png")
  body
    block content
    script(type = "text/javascript", src = "/javascripts/qblo.js")
    script(type = "text/javascript", src = "/socket.io/socket.io.js");